<body>
    <div class="wrap">
        <div class="header">NEW POST</div>
        <form action="/posts/create" method="post">
            <div class="title">Title</div>
                <input type="text" name="input_title">
            <div class="content">Content</div>
                <input type="text" name="input_content" size="20" style="height:100px">
                <div class="submit">
                    <input type="submit">
                </div>
        </form>
    </div>
</body>

<style>
    body{    background:black;
        
        }
    .wrap{    color:white;
              padding: 200px;
          }
    .header{    font-size:50px; font-family:Arial;
                margin-bottom:30px;
            }
    .title{    
           }
    .content{    margin-top:60px;
        
             }
    .submit{    margin-top:30px;
        
            }
</style>